
<h2>Bem vindo ao Gympoint, {{ user }} </h2>

<p>
Seu cadastro foi efetivado com sucesso.
</p>
<p>
  <p>Detalhes do seu plano</p><br>
  <strong>Seu plano inicia na data de </strong>: {{ datainicio }}<br>
  <strong>Termina na data de </strong>:  {{ datafinal }} <br>
<strong>Valor total do plano </strong>: {{ valortotal}} </p>
